@model ATM.Models.AccountInformation

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h2>Account History</h2>
        <br />
        <br />
        <div class="list-group text-left">
            <a href="#" class="list-group-item active"><b>@Model.account</b></a>
        </div>
        <br />
        <div class="list-group text-left">
            @foreach (var entry in Model.entry)
            {
                <a class="list-group-item"><b>@entry</b></a>
            }
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            <a class="form-control" href="../Bank/Index">Go Back</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" style="background-color:red; color:white;" href="../Home/Done"><b>Log out</b></a>
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("Receipt", "Bank", FormMethod.Post))
            {
                <input type="hidden" name="quantity" value="@Model.account" />
                <input type="hidden" name="accRaw" value="@Model.accountRaw" />
                <button class="form-control" name="acc" value="@Model.account" @Model.receipt>Get receipt</button><br />
            }
        </div>
    </div>

</div>
